<html>
    <head>
        <title>svg map</title>
        <script src='scripts/vendor.js'></script>
        <script src='scripts/app.js'></script>
        <meta name='viewport'
              content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
        >
        <style>
            body {
                margin: 0;
                padding: 0;
                background: #c7dac0;
                color: #000;
            }

            #overlay {
                position: absolute;
                width: 96%;
                height: 96%;
                background: navajowhite;
                top: 2%;
                left: 2%;
                overflow: hidden;
                z-index: 4;
            }

            .svg-map {
                position: relative!important;
            }
        </style>
    </head>
    <body ng-app='ege-rep'
          ng-controller='map'
          ng-init='selected_stations = [61,95,161];'
    >
        <div class='container'>
            <span ng-click='showmap = showmap + 1'>show</span>
        </div>
        <div id="overlay" ng-show='showmap % 2'>
            <svg-map id='tutor-123' selectable
                     selected='selected_stations'
                     scalable
            ></svg-map>
        </div>
    </body>
</html>